.dark-theme {
  --background: #212121;
  --background-border: #414141;
  --background-input: #000000;
  --body-text: #ffffff;
  --background-highlight: #141414;
  --link: #acc7ff;
  --highlight: #595959;
  --highlight-text: #ffffff;
  --highlight-secondary: #2e2e2e;
  --highlight-secondary-text: #ffffff;
  --lowlight: #212121;
  --lowlight-text: #c3c3c3;
  --warning: #dc3545;
}
.light-theme {
  --background: #ffffff;
  --background-border: #ededed;
  --background-input: #ffffff;
  --body-text: #000000;
  --background-highlight: #f0f0f0;
  --link: #315395;
  --highlight: #595959;
  --highlight-text: #ffffff;
  --highlight-secondary: #eaeaea;
  --highlight-secondary-text: #000000;
  --lowlight: #e9ecef;
  --lowlight-text: #212529;
  --warning: #a11320;
}

body,
html,
.modal-content,
table.dataTable tbody tr,
.offcanvas {
  background-color: var(--background);
  border-color: var(--background-border);
  color: var(--body-text);
}
.form-check-input,
.form-check-input > label,
.form-check > label,
select {
  cursor: pointer;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--background);
  border-color: var(--background-border) var(--background-border) var(--background);
  color: var(--body-text);
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  flex-wrap: nowrap;
}
.navbar > .container-fluid > span {
  font-size: min(1.2em, max(3vw, 12px));
  white-space: nowrap;
  max-width: 50%;
}
.navbar-brand > img {
  max-height: 24px;
}
.nav-item {
  white-space: nowrap;
}
.form-check-input {
  background-color: var(--background);
  border-color: var(--background-border);
}
.dark-theme .form-check-input {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23414141'/></svg>");
}
.form-check-input {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23bfbfbf'/></svg>");
}
table.dataTable thead th,
table.dataTable thead td,
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid var(--background-border);
}
label {
  color: var(--body-text);
}
input {
  color: var(--body-text);
}
.form-select,
.form-control,
.form-control:focus,
body::-webkit-scrollbar-track,
.dataTables_wrapper .dataTables_length select {
  background-color: var(--background-input);
  border-color: var(--background-border);
  color: var(--body-text);
  scrollbar-color: var(--background-input) var(--body-text);
}
::-webkit-scrollbar-track {
  background-color: var(--background-input);
}
::-webkit-scrollbar-thumb {
  background-color: var(--background-input);
  border-radius: 6px;
  border: 3px solid var(--background-input);
}
.leaflet-bar a,
.leaflet-bar a:hover,
.nav-tabs .nav-item.show .nav-link {
  background-color: var(--background);
  border-color: var(--highlight-secondary);
}
.nav-tabs {
  border-color: var(--background-border);
}
.form-select:disabled {
  background-color: var(--lowlight);
  color: var(--lowlight-text);
}

.wrapper > label {
  width: 100%;
  display: block;
  margin: 0;
}
button:hover {
  opacity: 0.7;
}
.section-heading {
  font-size: 1.5em;
  margin: 1em 0 0.2em 0;
}
label {
  white-space: nowrap;
  z-index: 3;
  width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
legend {
  font-size: 1em;
}
input[type='number'],
input[type='text'],
.input-group > .form-control,
.input-group > .form-select {
  min-width: 80px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  min-height: 55px;
  background-color: var(--highlight);
  color: var(--highlight-text);
}
.navbar .btn-link {
  text-decoration: none;
  background: inherit;
  border: none;
}

.navbar-expand-md .navbar-collapse {
  flex: 0;
}

.row {
  width: 100%;
  padding: 0 0 1em 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
.col {
  height: 100%;
}
div[class^='col-'] {
  min-width: 100px;
}
.content > .col > .row,
.content > .row {
  min-height: 300px;
}
.compact .row {
  padding: 0;
}
p.compact {
  margin: 0;
}
.footer {
  display: block;
  width: 92%;
  position: absolute;
  bottom: 16px;
  z-index: 400;
}
button.btn-danger {
  background-color: var(--warning);
}
.light-theme .btn-close {
  background: transparent
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>")
    center/1em auto no-repeat;
}
.dark-theme .btn-close {
  background: transparent
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>")
    center/1em auto no-repeat;
}

.menu,
.menu-wrapper {
  transition: top 400ms, right 400ms, bottom 400ms, left 400ms;
}
.menu-wrapper {
  position: fixed;
  overflow: visible;
  z-index: 90;
}
.menu {
  background-color: var(--background-highlight);
  padding: 3.9em 3em 0.5em 0.5em;
  flex-wrap: nowrap;
}
.menu-toggle {
  position: fixed;
  background-color: var(--background-highlight);
  border: none;
  font-size: 1.7em;
  width: 1.5em;
  height: 40px;
  padding: 0;
}
.menu-toggle::after {
  display: inline-block;
  content: '';
  margin: 0.2em 0 0 0;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}
.dark-theme .menu-toggle::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/></svg>");
}
.light-theme .menu-toggle::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/></svg>");
}
.menu-top .menu-toggle {
  border-radius: 0 0 0 15px;
  top: 55px;
  right: 0;
}
.menu-right {
  height: 100vh;
  flex-shrink: 0;
}
.menu-right .menu-toggle {
  border-radius: 0 0 0 15px;
  right: 0px;
  top: 55px;
}
.menu-bottom .menu-toggle {
  border-radius: 15px 0 0 0;
  bottom: 0px;
  right: 0;
}
.menu.menu-bottom {
  padding: 0.5em 3em 0.5em 0.5em;
}
.menu-left {
  height: 100vh;
  flex-shrink: 0;
}
.menu-left .menu-toggle {
  border-radius: 0 0 15px 0;
  top: 55px;
  left: 0px;
}
.menu-left .menu {
  padding: 3.9em 0.5em 0.5em 3em;
}
.menu > div {
  min-width: 125px;
}
.slider-display {
  text-align: center;
}
.form-switch .form-check-input:checked {
  background-repeat: no-repeat;
}
.form-floating > .form-select {
  padding-top: 1.5rem;
  padding-bottom: 0;
}

.info-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.info-body table {
  width: 100%;
  margin: 0.5em 0 0 0;
}
.info-body-row-table {
  display: table;
}
.info-body-row-table div {
  display: table-cell;
}
.info-body-row-table .info-body-row-value {
  text-align: right;
}
.info-body-row-table .info-body-row-value.statement {
  text-align: left;
}
.info-body-row-stack {
  text-align: center;
  margin: 0.5em 0;
  background-color: var(--highlight-secondary);
  border-radius: 10px;
  font-size: 1.08em;
}
.info-body-row-table .info-body-row-name {
  padding: 0 0.5em 0 0;
}
.info-body-row-stack .info-body-row-name {
  font-weight: bold;
  padding: 0.05em 0;
  font-size: max(1vw, 12px);
}

.info-title {
  font-size: 1.7em;
  margin: 0;
  font-weight: bold;
}
.floating {
  position: fixed;
  background-color: var(--background);
  border-radius: 25px;
  z-index: 430;
  border: 1px solid var(--background-border);
  padding: 0.5em;
}
.text-display button {
  width: 100%;
  background: inherit;
  border: none;
  color: var(--link);
  border-radius: 10px;
}
.text-display button::after {
  display: inline-block;
  content: '';
  margin: 0 0 -0.1em 0.3em;
  background-repeat: no-repeat;
  height: 0.8em;
  width: 0.8em;
}
.dark-theme .text-display button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>");
}
.light-theme .text-display button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>");
}
.offcanvas-body {
  padding: 1rem 1rem 4.5rem 1rem;
}
.menu-compact .offcanvas-body {
  font-size: 0.95em;
}
.menu-compact .offcanvas-body .wrapper {
  margin: 0 0 0.2em 0;
}
.modal-dialog {
  max-width: 1000px;
}
.modal-body table {
  width: 100%;
  margin: 0 0 1em 0;
}
.source-table td,
.source-table th {
  text-align: right;
}
.source-table td:first-of-type,
.source-table th:first-of-type {
  text-align: left;
}
.info-feature-table td:first-of-type {
  font-weight: bold;
}
.reference-list {
  padding: 0;
}
.reference-list li {
  list-style-type: none;
  margin: 0 0 0 1.5em;
  text-indent: -1.5em;
}

.table > :not(:first-child) {
  border-top: none;
}
.switch-wrapper .form-switch {
  display: flex;
  padding-left: 0;
}
.switch-wrapper .form-switch label {
  padding: 0.5em 0 0 0;
}
.switch-wrapper .form-switch .form-check-input {
  padding: 0.9em;
  width: 3.5em;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 0;
  padding: 0.5em;
  overflow-x: hidden;
  overflow-y: auto;
  transition: top 400ms, right 400ms, bottom 400ms, left 400ms;
}
.legend {
  padding: 0.5em 1.5em;
  text-align: center;
}
.legend-text {
  display: table;
  width: 100%;
}
.legend-text span {
  display: table-cell;
}
.legend-text span:first-of-type {
  text-align: left;
}
.legend-text span:last-of-type {
  text-align: right;
}
.legend-scale {
  width: 100%;
  height: 30px;
  display: table;
}
.legend-scale span {
  height: 100%;
  display: table-cell;
}
.legend > div {
  position: relative;
}
.legend-ticks,
.legend-summary {
  height: 20px;
}
.legend-ticks {
  width: 100%;
}
.legend-tick {
  position: absolute;
  white-space: nowrap;
  font-size: 0.8em;
  height: 40px;
  width: 4px;
  margin: 0 0 0 -2px;
  transition: left cubic-bezier(0.54, 1.28, 0.27, 1) 500ms;
}
.legend-tick span {
  position: absolute;
  background-color: var(--background);
}
.legend-summary span,
.legend-ticks span {
  left: calc(50% - 2px);
}
.legend-ticks span:first-child,
.legend-summary span:last-child {
  padding: 0 4px;
}
.legend-tick .summary,
.legend-tick .entity {
  z-index: 200;
  position: absolute;
  height: 12px;
  width: 4px;
  background-color: #000;
  border: 1px solid #fff;
  border-top-width: 0;
  border-bottom-width: 0;
}
.legend-tick .summary {
  top: -10px;
}
.legend-tick .entity {
  bottom: 10px;
}
.leaflet-container {
  background: var(--background);
}
.dataTables_wrapper .row:first-of-type {
  padding: 0 0 0.5em 0;
}
table.dataTable tbody tr.dtrg-group.dtrg-group {
  background-color: var(--background-highlight);
  font-weight: bold;
}
table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px 4px 0;
}
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 0 17px 0 0;
}
.dataTable td,
.dataTable th {
  text-align: right;
  white-space: nowrap;
}
.dataTable td:first-of-type,
.dataTable th:first-of-type {
  text-align: left;
}
.dataTable,
.dataTables_scrollHead {
  width: 100% !important;
}
.dataTable tr {
  cursor: pointer;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: var(--body-text);
}

.credits ul {
  padding-left: 1rem;
  list-style: none;
}
.credits .version-tag {
  font-size: 0.8em;
  margin: 0.5em 0.5em;
  padding: 0.1em 0.45em;
  border-radius: 25px;
  line-height: 2;
  background-color: var(--highlight-secondary);
  color: var(--highlight-secondary-text);
}
.credits p {
  margin: 0 0 0.5em 0.5em;
  font-size: 0.8em;
}

.form-row,
.wrapper {
  padding: 0;
  margin: 0 0 0.5em 0;
}
.form-row:last-of-type,
.wrapper:last-of-type {
  margin: 0;
}

.dt-button {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.output-text button {
  text-decoration: none;
  vertical-align: baseline;
  background-color: inherit;
  border: none;
  color: var(--link);
  padding: 0 0.2em;
}

.number-input-row {
  display: flex;
  text-align: center;
}
.number-input-row label {
  margin: 0 0 0 5%;
}
.number-input-row button {
  background-color: inherit;
  width: 90px;
}
.number-input-row input,
.number-input-row button {
  background-color: inherit;
  border: 0;
  font-size: 1.2em;
  text-align: center;
}
.light-theme .number-input-row button {
  color: var(--body-text);
}
.container-xsm {
  max-width: 250px;
  margin: auto;
}

.btn,
.dt-button,
.form-check-input:checked,
.input[type='range'],
.btn:hover,
.dt-button:hover,
.form-check-input:checked,
.input[type='range'],
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: var(--highlight-text);
  background: var(--highlight);
  border-color: var(--highlight);
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: var(--highlight-text) !important;
}
.dts_label {
  display: none;
}
.nav-link,
a:link,
a:visited {
  color: var(--link);
  text-decoration: none;
}
a.btn:link,
a.btn:visited {
  color: var(--highlight-text);
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: var(--highlight-text);
  border-radius: 5px;
  border: 1px solid var(--highlight);
}
input[type='range']::-webkit-slider-thumb {
  border: 1px solid var(--highlight);
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: var(--highlight);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: var(--highlight-text);
  border-radius: 5px;
  border: 1px solid var(--highlight);
}
input[type='range']::-moz-range-thumb {
  border: 1px solid var(--highlight);
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: var(--highlight);
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: var(--highlight-text);
  border: 1px solid var(--highlight);
  border-radius: 10px;
}
input[type='range']::-ms-fill-upper {
  background: var(--highlight-text);
  border: 1px solid var(--highlight);
  border-radius: 10px;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  border: 1px solid var(--highlight);
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: var(--highlight);
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  .content .row > div {
    width: 100%;
  }
  .menu {
    flex-wrap: wrap;
  }
}
