.dark-theme {
  --background: #212121;
  --background-border: #414141;
  --background-input: #000000;
  --body-text: #ffffff;
  --background-highlight: #141414;
  --link: #acc7ff;
  --highlight: #595959;
  --highlight-text: #ffffff;
  --highlight-secondary: #2e2e2e;
  --highlight-secondary-text: #ffffff;
  --lowlight: #212121;
  --lowlight-text: #acacac;
  --warning: #dc3545;
  --na: #7e7e7e;
  --syntax-var: #aca2ef;
  --syntax-value: #8eb767;
  --syntax-component: #8cade2;
  --syntax-operator: #c79dd2;
}
.light-theme {
  --background: #ffffff;
  --background-border: #ededed;
  --background-input: #ffffff;
  --body-text: #000000;
  --background-highlight: #f0f0f0;
  --link: #315395;
  --highlight: #595959;
  --highlight-text: #ffffff;
  --highlight-secondary: #eaeaea;
  --highlight-secondary-text: #000000;
  --lowlight: #e9ecef;
  --lowlight-text: #575757;
  --warning: #b50212;
  --na: #7e7e7e;
  --syntax-var: #5649b3;
  --syntax-value: #316500;
  --syntax-component: #004ecb;
  --syntax-operator: #8c23a8;
}
.offcanvas {
  --bs-offcanvas-width: 300px;
}
body,
html,
.modal-content,
table.dataTable tbody tr,
.offcanvas,
.leaflet-tooltip,
.card,
.table,
.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: var(--background);
  border-color: var(--background-border);
  color: var(--body-text);
}
.card-header {
  font-weight: bold;
  font-size: 1.1em;
  background-color: var(--background-highlight);
}
.form-check-input,
.form-check-input > label,
.form-check > label,
select {
  cursor: pointer;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--background);
  border-color: var(--background-border) var(--background-border) var(--background);
  color: var(--body-text);
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  flex-wrap: nowrap;
}
.navbar > .container-fluid > span {
  font-size: min(1.2em, max(3vw, 12px));
  white-space: nowrap;
  max-width: 50%;
}
.navbar-brand > img {
  max-height: 24px;
}
.nav-item {
  white-space: nowrap;
}
.form-check-input {
  background-color: var(--background);
  border-color: var(--background-border);
}
.dark-theme .form-check-input {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23414141'/></svg>");
}
.form-check-input {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23bfbfbf'/></svg>");
}
table.dataTable thead th,
table.dataTable thead td,
.dataTables_wrapper.no-footer .dataTables_scrollBody,
.combobox-options-container {
  border-bottom: 1px solid var(--background-border);
}
input {
  color: var(--body-text);
}
.form-select,
.form-control,
.form-control:focus,
body::-webkit-scrollbar-track,
.dataTables_wrapper .dataTables_length select,
.combobox-options,
.dropdown-menu,
.accordion-item {
  background-color: var(--background-input);
  border-color: var(--background-border);
  color: var(--body-text);
  scrollbar-color: var(--background-input) var(--body-text);
}
::-webkit-scrollbar-track {
  background-color: var(--background-input);
}
::-webkit-scrollbar-thumb {
  background-color: var(--background-input);
  border-radius: 6px;
  border: 3px solid var(--background-input);
}
.leaflet-bar a,
.leaflet-bar a:hover,
.nav-tabs .nav-item.show .nav-link {
  background-color: var(--background);
  border-color: var(--highlight-secondary);
}
.leaflet-tooltip-right:before {
  border-right-color: var(--highlight-secondary);
}
.leaflet-tooltip-left:before {
  border-left-color: var(--highlight-secondary);
}
.nav-tabs {
  border-color: var(--background-border);
}
.text-muted {
  color: var(--lowlight-text) !important;
}
.form-select:disabled,
.combobox.disabled {
  background-color: var(--lowlight);
  color: var(--lowlight-text);
  cursor: default;
}
.na {
  background-color: #00000000;
  border: 2px solid var(--na);
  fill: var(--na);
}

.wrapper > label {
  width: 100%;
  display: block;
  margin: 0;
}
button {
  padding: 0;
}
button:hover {
  opacity: 0.7;
}
.section-heading {
  font-size: 1.5em;
  margin: 1em 0 0.2em 0;
}
label {
  color: var(--body-text);
  white-space: nowrap;
  z-index: 5;
  width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
legend {
  font-size: 1em;
  white-space: nowrap;
}
.menu > div {
  box-sizing: content-box;
}
input[type='number'],
input[type='text'],
.input-group > .form-control,
.input-group > .form-select {
  min-width: 80px;
}
div.filter-hidden {
  display: none;
}
.focused {
  outline: 1px solid var(--link);
}
.combobox {
  cursor: pointer;
  display: flex;
  position: relative;
  overflow: hidden;
}
.form-select.combobox {
  padding-top: 0;
  padding-bottom: 0;
}
.combobox-selection {
  padding: 0.3em 0.3em 0.3em 0;
  background-color: transparent;
  display: flex;
  white-space: nowrap;
  align-items: center;
  /* max-width: 100%; */
}
.combobox-selection span {
  overflow-x: clip;
  text-overflow: ellipsis;
}
input.combobox-input {
  background-color: transparent;
  border: none;
  min-width: 10px;
  overflow-x: visible;
}
.combobox-input:focus {
  outline: none;
}
.combobox .btn-close {
  position: absolute;
  right: 3em;
  top: 1.4em;
  font-size: 0.8em;
}
.combobox-options-container {
  position: absolute;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  border: 1px solid var(--background-border);
}
.combobox-options {
  display: inherit;
}
.combobox-options.multi .combobox-option {
  padding: 0.3em 0.8em 0.3em 2em;
}
.combobox-options.multi .combobox-option::before {
  position: absolute;
  left: 0;
  margin: 0.3em 0.5em;
  content: '';
  background-color: var(--background-border);
  height: 15px;
  width: 15px;
}
.combobox-options.multi .combobox-option.selected::after {
  position: absolute;
  left: 4px;
  margin: 0.3em 0.5em;
  content: '';
  border-right: 2px solid var(--body-text);
  border-bottom: 2px solid var(--body-text);
  height: 12px;
  width: 8px;
  transform: rotate(35deg);
}
.accordion-header,
.combobox-group-label {
  position: sticky;
  top: 0;
}
.combobox-group-label,
.accordion-button,
.accordion-button:not(.collapsed) {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 0.3em;
  background-color: var(--background-highlight);
  box-shadow: none;
}
.dark-theme .accordion-button::after {
  background-color: var(--highlight);
  border-radius: 5px;
}
.combobox-option {
  padding: 0.3em 0.8em;
  display: grid;
}
.combobox-option.highlighted {
  cursor: pointer;
  background-color: var(--highlight);
  color: var(--highlight-text);
}
.combobox-option-description {
  margin: 0;
  font-size: 0.75em;
  opacity: 0.6;
}
.combobox-options .accordion-body {
  padding: 0;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 100;
  min-height: 55px;
  background-color: var(--highlight);
  color: var(--highlight-text);
}
.navbar .btn-link {
  text-decoration: none;
  background: inherit;
  border: none;
}
.btn-link:focus {
  color: var(--lowlight-text);
}

.navbar-expand-md .navbar-collapse {
  flex: 0;
}

.row {
  width: 100%;
  padding: 0 0 1em 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
.content .row {
  padding: 0;
}
.row > * {
  padding: 0.1rem 0.2rem;
}
.col {
  height: 100%;
}
div[class^='col-'] {
  min-width: 100px;
}
.content-overlay {
  position: absolute;
  z-index: 1080;
}
.content > .col > .row,
.content > .row {
  min-height: 300px;
  overflow-y: hidden;
}
.compact .row {
  padding: 0;
}
p.compact {
  margin: 0;
}
button.btn-danger {
  background-color: var(--warning);
}
.light-theme .btn-close {
  background: transparent
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>")
    center/1em auto no-repeat;
}
.dark-theme .btn-close {
  background: transparent
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>")
    center/1em auto no-repeat;
}
.btn-full {
  width: 100%;
}
#site_wrap {
  overflow: hidden;
}
.menu,
.menu-toggle,
.menu-wrapper,
.panel,
#site_wrap {
  transition: top 400ms, right 400ms, bottom 400ms, left 400ms;
}
.menu-wrapper {
  position: absolute;
  overflow: visible;
  z-index: 90;
}
.menu {
  background-color: var(--background-highlight);
  padding: 3.9em 3em 0.5em 0.5em;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.menu-toggle {
  position: absolute;
  background-color: var(--background-highlight);
  border: none;
  font-size: 1.7em;
  width: 1.5em;
  height: 40px;
  padding: 0;
}
.menu-toggle::after {
  display: inline-block;
  content: '';
  margin: 0.2em 0 0 0;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}
.dark-theme .menu-toggle::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/></svg>");
}
.light-theme .menu-toggle::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/></svg>");
}
.menu-top .menu-toggle {
  border-radius: 0 0 0 15px;
  top: 55px;
  right: 0;
}
.menu-right {
  height: 100vh;
  flex-shrink: 0;
}
.menu-right .menu-toggle {
  border-radius: 0 0 0 15px;
  right: 0px;
  top: 55px;
}
.menu-bottom .menu-toggle {
  border-radius: 15px 0 0 0;
  bottom: 0px;
  right: 0;
}
.menu.menu-bottom {
  padding: 0.5em 3em 0.5em 0.5em;
}
.menu-left {
  height: 100vh;
  flex-shrink: 0;
}
.menu-left .menu-toggle {
  border-radius: 0 0 15px 0;
  top: 55px;
  left: 0px;
}
.menu-left .menu {
  padding: 3.9em 0.5em 0.5em 3em;
}
.menu > div {
  min-width: 125px;
}
.slider-display {
  text-align: center;
}
.form-switch .form-check-input:checked {
  background-repeat: no-repeat;
}
.form-floating > .form-select {
  padding-top: 1.5rem;
  padding-bottom: 0;
}
button.dropdown-toggle {
  width: 100%;
}
.dropdown-menu {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
}
.info-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.info-body table {
  width: 100%;
  margin: 0.5em 0 0 0;
}
.info-body-row-table {
  display: table;
}
.info-body-row-table div {
  display: table-cell;
}
.info-body-row-table .info-body-row-value {
  text-align: right;
}
.info-body-row-table .info-body-row-value.statement {
  text-align: left;
  max-height: 50px;
  display: block;
  font-size: clamp(0.65rem, -0.5rem + 2vw, 1rem);
}
.info-body-row-stack {
  text-align: center;
  margin: 0.5em 0;
  background-color: var(--highlight-secondary);
  border-radius: 10px;
  font-size: 1.08em;
}
.info-body-row-stack .info-body-row-name {
  font-weight: bold;
  padding: 0 0 0.05em 0.3em;
  font-size: clamp(0.7rem, -0.5rem + 2vw, 1rem);
}
.info-summary-wrapper {
  overflow-x: auto;
}
.info-body .info-summary {
  text-align: center;
  margin: 0.5em 0;
}
.info-summary th,
.info-summary td {
  padding: 0 0.2em;
}
.info-title {
  font-size: clamp(1.3rem, -0.5rem + 2vw, 1.7rem);
  margin: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.info-title span,
.info-body-row-stack .info-body-row-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.floating,
.tooltip {
  position: absolute;
  background-color: var(--background);
  border-radius: 10px;
  z-index: 1079;
  border: 2px solid var(--background-border);
  padding: 0.5em;
  opacity: 1;
  max-width: 500px;
  min-width: 80px;
}
.tooltip p {
  margin: 0;
}
.text-display {
  width: 100%;
  padding: 0;
}
.text-display.floating {
  width: auto;
  padding: 0.5em;
}
.text-display button {
  width: 100%;
  background: inherit;
  border: none;
  color: var(--link);
  border-radius: 10px;
}
.text-display button::after {
  display: inline-block;
  content: '';
  margin: 0 0 -0.1em 0.3em;
  background-repeat: no-repeat;
  height: 0.8em;
  width: 0.8em;
}
.select-reset {
  text-decoration: none;
}
button.has-note::after,
.button-wrapper.has-note button::before,
.has-note label::before,
.wrapper.has-note > div > label::before,
.has-note legend::before {
  opacity: 0.6;
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  margin: 0 5px 0 0;
}
.output-text button.has-note {
  color: var(--body-text);
  cursor: text;
  padding: 0;
}
button.has-note:hover {
  opacity: 1;
}
button.has-note::after {
  margin: 0 0 0 5px;
  vertical-align: text-top;
}
.wrapper.has-note label.form-check-label {
  margin: 0 0 0 0;
}
.has-note label.form-check-label::before {
  display: none;
}
.dark-theme .text-display button::after,
.dark-theme button.has-note::after,
.has-note button::before,
.dark-theme .has-note label::before,
.dark-theme .has-note legend::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>");
}
.light-theme .text-display button::after,
.light-theme button.has-note::after,
.light-theme .has-note label::before,
.light-theme .has-note legend::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>");
}
.offcanvas-body {
  overflow-x: hidden;
  position: absolute;
  top: 62px;
  width: 100%;
}
.offcanvas-footer {
  position: absolute;
  height: 46px;
  width: 100%;
  bottom: 0;
  padding: 4px var(--bs-offcanvas-padding-x);
}
.offcanvas-footer button,
.popup-button {
  width: 100%;
}
.offcanvas.offcanvas-end {
  border-left-color: var(--background-border);
}
.menu-compact .offcanvas-body {
  font-size: 0.95em;
}
.menu-compact .offcanvas-body .wrapper {
  margin: 0 0 0.2em 0;
}
.modal-dialog {
  max-width: 1000px;
}
.modal-body table {
  width: 100%;
  margin: 0 0 1em 0;
}
.source-table td,
.source-table th {
  text-align: right;
}
.source-table td:first-of-type,
.source-table th:first-of-type {
  text-align: left;
}
.sources-cards .card {
  margin: 0 0 0.3em 0;
}
.sources-cards .card-body {
  font-size: 0.9em;
  padding: 0.5rem 1rem;
}
.sources-cards p {
  margin: 0;
}
.sources-cards p span:first-child {
  opacity: 0.7;
}
.reference-list {
  padding: 0;
}
.reference-list li {
  list-style-type: none;
  margin: 0 0 0 1.5em;
  text-indent: -1.5em;
}
.cell-text {
  margin: 0;
}

.table > :not(:first-child) {
  border-top: none;
}
.switch-wrapper .form-switch {
  display: flex;
  padding-left: 0;
}
.switch-wrapper .form-switch label {
  padding: 0.5em 0 0 0;
}
.switch-wrapper .form-switch .form-check-input,
.filter-dialog .form-check-input {
  padding: 0.9em;
  width: 3.5em;
}
.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 220px;
  max-width: 100%;
  border-radius: 0;
  background-color: var(--background-highlight);
}
.panel-toggle.btn {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 3px;
  border-radius: 0;
  background-color: inherit;
  border: none;
  font-size: 1.5em;
  color: var(--body-text);
}
.panel-left {
  left: 0;
  padding: 0 17px 0 0;
}
.panel-left .panel-toggle {
  right: 0;
  border-left: 1px solid var(--bs-card-border-color);
}
.panel-right {
  right: 0;
  padding: 0 0 0 17px;
}
.panel-right .panel-toggle {
  left: 0;
  border-right: 1px solid var(--bs-card-border-color);
}
.panel .card-header {
  text-align: center;
}
.panel .card-header p {
  margin: 0;
  font-size: 1em;
}
.panel .card-body {
  overflow-y: auto;
}
.panel .card-body p {
  margin: 0.5em 0;
  font-size: 1em;
}
.panel .card-body .btn {
  width: 100%;
  font-size: 0.8em;
}
.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 0;
  padding: 0.5em;
  overflow-x: hidden;
  overflow-y: auto;
  transition: top 400ms, right 400ms, bottom 400ms, left 400ms;
}
.legend {
  padding: 0 3em;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.legend-wrap {
  display: table;
  width: 100%;
}
.legend-wrap > div {
  display: table-cell;
}
.legend-na {
  text-align: center;
  width: 30px;
  position: relative;
}
.legend-na .legend-scale {
  padding: 0 5px;
}
.legend-na p {
  margin: 0;
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.legend-scale {
  width: 100%;
  height: 20px;
  display: table;
}
.legend-scale div {
  height: 100%;
  display: table;
}
.legend-scale div:first-of-type {
  float: left;
}
.legend-scale span {
  height: 100%;
  display: table-cell;
}
.legend > div {
  position: relative;
}
.legend-ticks,
.legend-summary {
  height: 40px;
  z-index: 200;
}
.legend-ticks .legend-tick {
  bottom: -10px;
}
.legend-summary .legend-tick {
  top: -10px;
}
.legend-tick {
  position: absolute;
  white-space: nowrap;
  font-size: 0.8em;
  transition: left cubic-bezier(0.54, 1.28, 0.27, 1) 500ms;
}
.legend-tick p,
.legend-tick-end p {
  margin: 0;
  padding: 0 4px;
}
.legend-tick .summary,
.legend-tick .entity {
  margin: auto;
  height: 12px;
  width: 4px;
  padding: 0;
  background-color: #000;
  border: 1px solid #fff;
  border-top-width: 0;
  border-bottom-width: 0;
}
.legend-tick-end {
  position: absolute;
  font-size: 0.8em;
  height: 20px;
  width: 100px;
  bottom: 40px;
  transform: rotate(270deg);
}
.legend-tick-end.min {
  left: -80px;
}
.legend-tick-end.max {
  right: -80px;
}
.leaflet-container,
.leaflet-control-layers {
  background: var(--background);
}
.dataTables_wrapper .row:first-of-type {
  padding: 0 0 0.5em 0;
}
table.dataTable tbody tr.dtrg-group.dtrg-group {
  background-color: var(--background-highlight);
  font-weight: bold;
}
table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px 4px 0;
}
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 0 17px 0 0;
}
table.dataTable tbody td,
table.dataTable thead th {
  text-align: right;
  white-space: nowrap;
}
.dataTable td:first-of-type,
.dataTable th:first-of-type {
  text-align: left;
}
.dataTable,
.dataTables_scrollHead {
  width: 100% !important;
}
.dataTable tr {
  cursor: pointer;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: var(--body-text);
}

.credits ul {
  padding-left: 1rem;
  list-style: none;
}
.credits .version-tag {
  font-size: 0.8em;
  margin: 0.5em 0.5em;
  padding: 0.1em 0.45em;
  border-radius: 25px;
  line-height: 2;
  background-color: var(--highlight-secondary);
  color: var(--highlight-secondary-text);
}
.credits p {
  margin: 0 0 0.5em 0.5em;
  font-size: 0.8em;
}

.form-row,
.wrapper {
  padding: 0;
  margin: 0 0 0.5em 0;
}
.form-row:last-of-type,
.wrapper:last-of-type {
  margin: 0;
}

.dt-button {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.output-text button {
  text-decoration: none;
  vertical-align: baseline;
  background-color: inherit;
  border: none;
  color: var(--link);
  padding: 0 0.2em;
}
.number-input-row .text-wrapper {
  width: 100%;
}
.number-input-row,
.number-input-row div {
  display: flex;
}
.number-input-row span {
  padding: 0 0.2em;
  align-self: center;
}
.number-input-row label {
  margin: 0 0 0 5%;
}
.number-input-row button {
  background-color: inherit;
}
.number-input-row input,
.number-input-row button {
  background-color: inherit;
  border: 0;
  font-size: 1.2em;
  text-align: center;
}
.light-theme .number-input-row button {
  color: var(--body-text);
}
.container-xsm {
  max-width: 300px;
  margin: auto;
}

.btn,
.dt-button,
.form-check-input:checked,
.input[type='range'],
.btn:hover,
.dt-button:hover,
.form-check-input:checked,
.input[type='range'],
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: var(--highlight-text);
  background: var(--highlight);
  border-color: var(--highlight);
}
.btn:hover,
.btn:focus,
.number-input-row button:focus {
  color: var(--highlight-text);
  background: var(--highlight) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: var(--highlight-text) !important;
}
.dts_label {
  display: none;
}
.nav-link,
a:link,
a:visited {
  color: var(--link);
  text-decoration: none;
}
a.btn:link,
a.btn:visited {
  color: var(--highlight-text);
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: var(--highlight-text);
  border-radius: 5px;
  border: 1px solid var(--highlight);
}
input[type='range']::-webkit-slider-thumb {
  border: 1px solid var(--highlight);
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: var(--highlight);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: var(--highlight-text);
  border-radius: 5px;
  border: 1px solid var(--highlight);
}
input[type='range']::-moz-range-thumb {
  border: 1px solid var(--highlight);
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: var(--highlight);
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: var(--highlight-text);
  border: 1px solid var(--highlight);
  border-radius: 10px;
}
input[type='range']::-ms-fill-upper {
  background: var(--highlight-text);
  border: 1px solid var(--highlight);
  border-radius: 10px;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  border: 1px solid var(--highlight);
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: var(--highlight);
  cursor: pointer;
}

.hidden {
  opacity: 0;
  display: none;
}

.info-body table.info-filter {
  width: auto;
  margin: 0 0.5em;
  font-size: 0.9em;
}
.filter-display td:first-of-type {
  text-align: right;
}
.filter-display td:nth-child(2) {
  text-align: center;
  width: 2em;
}
.filter-display td {
  vertical-align: top;
}
.filter-display {
  color: var(--lowlight-text);
}
.syntax-variable {
  color: var(--syntax-var);
}
.syntax-value {
  color: var(--syntax-value);
}
.syntax-component {
  color: var(--syntax-component);
}
.syntax-operator {
  color: var(--syntax-operator);
}

.filter-notification {
  position: absolute;
  margin: -0.5em 0 0 -1.5em;
  font-size: 0.75em;
  background-color: var(--warning);
  border-radius: 25px;
  padding: 0 0.5em;
}
.filter-dialog {
  padding: 1em;
}
.filter-dialog .table {
  margin: 0;
}
.filter-dialog .btn-close {
  padding: 0.7em;
}
.filter-body td {
  align-items: center;
}
.filter-label {
  visibility: hidden;
  position: absolute;
}
@media screen and (max-width: 700px) {
  .filter-dialog .cell-text {
    font-size: 1.5em;
    font-weight: bold;
  }
  .filter-dialog .filter-header {
    display: none;
  }
  .filter-dialog table td {
    display: flex;
    margin: 0 1em;
    border: none;
    padding: 0 0 0.2em 0;
  }
  .filter-dialog table td:first-of-type {
    margin: 0;
  }
  .filter-dialog .filter-body .filter-form-input {
    max-width: 150px;
  }
  .filter-label {
    visibility: visible;
    position: relative;
  }
}

@media screen and (max-width: 750px) {
  .d-flex {
    flex-flow: column;
  }
}

@media screen and (max-width: 600px) {
  .content .row > div {
    position: relative;
    width: 100%;
  }
  .menu {
    flex-wrap: wrap;
  }
}

.table-wrapper {
  /* height: 40vh; */
  overflow: auto;
}

/* .table-wrapper table th {
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
  background: white;
}


.table-wrapper table th:first-child{
  position: sticky;
  left: 0;
  z-index: 2;
} */

.table-wrapper table {
  white-space: nowrap;
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.table-wrapper table thead th {
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
  background-color: var(--background-border);
  text-align: center;
}

.table-wrapper table thead th button {
  border: none;
  background-color: inherit;
  font-weight: bold;
}

.table-wrapper table td {
  padding: 4px 5px;
  text-align: center;
}

.table-wrapper table tbody th {
  font-weight: 100;
  font-style: italic;
  position: relative;
}

.table-wrapper table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

.table-wrapper table > tbody > tr > td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: var(--background-border);
}

.table-wrapper table tbody th {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
}

.table-wrapper table > thead > tr > th:first-child,
.table-wrapper table > tbody > tr > td:first-child {
  text-align: left;
}

.table-wrapper table > tbody > tr > td:not(:first-child),
.table-wrapper table > thead > tr > th:not(:first-child) {
  text-align: right;
}
