:root {
  --background: #212121;
  --bs-body-bg: #212121;
  --background-border: #414141;
  --background-input: #000000;
  --body-text: #ffffff;
  --background-secondary: #0e0e0e;
  --background-highlight: #141414;
  --link: #9bbcff;
  --highlight: #595959;
  --highlight-text: #ffffff;
  --highlight-secondary: #2e2e2e;
  --highlight-secondary-text: #ffffff;
  --lowlight: #212121;
  --lowlight-text: #bebebe;
  --pending: #000d41;
  --pass: #294b8f;
  --fail: #fcad3a;
  --fail-text: #000;
}
body,
html,
div.modal-content,
.offcanvas,
div.toast,
.hover-note {
  background-color: var(--background);
  border-color: var(--background-border);
  color: var(--body-text);
}
.modal-dialog {
  min-width: 80%;
}
.modal-body div > table tr {
  border-bottom: 1px solid var(--highlight-secondary);
}
.modal-body div > table {
  margin: 0 0.5em;
}
.modal-body td > table {
  border: 1px solid var(--background-border);
  background-color: var(--background-secondary);
  margin: 0.2em 0;
}
.modal-body table {
  margin: 0;
}
.modal-body th {
  vertical-align: top;
  padding: 0 0.4em 0 0;
  width: 1px;
}
.modal-body ul {
  list-style: none;
  padding: 0 0 0 0.5em;
}
.modal-body a {
  word-break: break-all;
}
input.form-control,
input.form-control:focus {
  background-color: var(--background-input);
  border-color: var(--background-border);
  color: var(--body-text);
}
.navbar {
  height: 54px;
}
.toast {
  position: absolute;
  right: 50px;
  bottom: 30px;
}
button.btn.active,
button.btn.active:hover {
  background-color: var(--background-highlight);
}
.content p,
span,
table {
  color: var(--body-text);
  margin-bottom: 0;
}
table,
tbody {
  width: 100%;
}
table {
  margin: 2em 0 0 0;
}
thead {
  position: absolute;
  margin: -2em 0 0 0;
}
a:link,
a:visited {
  text-decoration: none;
  color: var(--link);
}
a:hover {
  color: var(--highlight-text) !important;
}
.btn:hover {
  opacity: 0.8;
}
.navbar,
.navbar .btn,
.navbar .btn:hover,
div.toast-header {
  background-color: var(--highlight);
  color: var(--highlight-text);
}
.hover-note {
  background-color: #000;
  position: absolute;
  border: 2px solid var(--background-border);
  max-width: 500px;
  border-radius: 15px;
  text-align: center;
  word-break: break-word;
  z-index: 3;
}
.hover-note p {
  padding: 0.5em;
  margin: 0;
}
.navbar-collapse {
  flex-direction: row-reverse;
}
.content {
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
div.card {
  background-color: var(--background-secondary);
  border-color: var(--background-border);
}
.commons {
  margin: 0.5em auto;
  max-width: 1000px;
}
.card {
  margin: 1em 0.5em;
}
div.card-header {
  background-color: var(--background-highlight);
  font-size: 1.5em;
  font-weight: bold;
}
.card-section-header {
  font-size: 1.1em;
  font-weight: 100;
  padding: 0 0 1em 0;
}
.repo_header > span:first-of-type {
  font-size: 0.7em;
  opacity: 0.6;
}
.accordion-collapse {
  padding: 0.5em;
}
span.spinner-border {
  width: 1.5em;
  height: 1.5em;
}
.card-body {
  padding: 0 1rem 1rem 1rem;
}
.card-links {
  float: right;
  font-size: 0.8em;
  font-weight: normal;
}
.card-status {
  margin: 0.5em 0 1em 0;
}
.status-chip {
  font-size: 0.8em;
  background-color: var(--background-secondary);
  overflow: hidden;
  display: inline-flex;
  border-radius: 25px;
  border: 1px solid var(--background-border);
  margin: 0 1em 0 0;
}
.status-chip:last-child {
  margin: 0;
}
.card-links .status-chip a {
  padding: 0.4em 0.6em;
}
.status-chip span,
.status-chip a,
.status-chip .btn {
  display: flex;
  font-family: monospace;
  padding: 0.3em 0.6em;
  overflow: hidden;
}
.status-chip > span:last-child {
  border-radius: 0 25px 25px 0;
  background-color: var(--pass);
}
.pending-check span:last-child,
.pending-check .btn:last-child {
  background-color: var(--pending);
}
.failed-check span:last-child,
.failed-check .btn:last-child {
  background-color: var(--fail);
  color: #000;
}
.card-section td:first-child.passed-check,
.passed-check span:last-child,
.passed-check .btn:last-child {
  background-color: var(--pass);
}
.status-chip .btn {
  background-color: var(--background-border);
  color: var(--body-text);
  border-radius: 0 25px 25px 0;
}
.status-chip .btn:hover {
  opacity: 0.7;
}
.card-links .status-chip span:last-child {
  padding: 0;
}
.card-section {
  font-weight: 500;
  background-color: var(--highlight-secondary);
  border-radius: 5px;
  margin: 0 0 1em 0;
}
.card-section:last-of-type {
  margin: 0;
}
.card-section table {
  max-height: 250px;
  overflow: auto;
  display: block;
}
.card-section td:first-child,
.card-section th:first-child {
  width: 50px;
  text-align: center;
}
.card-section td:first-child {
  background-color: var(--fail);
}
.card-section th:last-child,
.card-section td:last-child {
  padding: 0 0 0 0.5em;
}
.entry {
  padding: 0 0 1em 0;
}
.child {
  font-size: 1.3em;
  padding: 0.5em 0;
}
.child .card-links {
  font-size: 1em;
}
.entry-name {
  font-size: 1em;
  padding: 0 0 0.5em 0;
}
.entry-info span {
  margin: 0 1.2em 0 0;
}
span.entry-info-entry {
  margin: 0;
  color: var(--lowlight-text);
}
.entry-info {
  font-family: monospace;
  font-size: 0.8em;
  opacity: 0.85;
  padding: 0 0 0.5em 1em;
}
.entry-checks {
  opacity: 0.85;
  padding: 0 0 0.5em 0.3em;
}
.hidden {
  display: none;
}
.search-wrapper {
  color: #fff;
}
.search-field {
  top: 0;
  position: sticky;
  background-color: var(--background);
}
.search-field input {
  padding: 1em 0.5em;
}
.search-results {
  padding: 1em 0.5em;
  overflow-x: auto;
}
.search-results p {
  padding: 0.1em 0;
}
.variable {
  background-color: var(--highlight-secondary);
  border-radius: 5px;
  font-size: 0.95em;
  padding: 0 0 0.5em 0;
  margin: 0 0 1em 0;
}
.variable p {
  padding: 0 1em;
}
.variable button {
  background-color: var(--background-secondary);
  color: var(--body-text);
  padding: 0.2em;
  border-radius: 5px 5px 0 0;
  width: 100%;
  font-size: 1.5em;
  text-align: left;
}
.content p.variable-name {
  font-size: 0.9em;
  color: var(--lowlight-text);
}
